body {
  /* background-color: #d6d6d6; */
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

h2 {
  color: yellow;
  margin-bottom: 20px;
}

input,
select,
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #0f0c0c;
  border-radius: 5px;
  font-size: 16px;
}

button {
  background-color: white !important;
  color: black;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
